@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.logo a {
  color: white;
  font-family: "Pacifico", cursive;
  cursor: pointer;
  letter-spacing: 2px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 12px 38px;
  background-color: #76BA99;
  color: white;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar ul li:not(:last-child) {
  font-size: 20px;
  color: white;
  transition: 0.2s all ease-out;
}

a{
  display: inline-block;
  color: inherit;
}

.navbar ul li:hover {
  letter-spacing: 1px;
}

.login {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 20px;
}


